html, body{
    margin: 10px;
    background: #eee;
}

.active{
    box-shadow: 0 0 5px #f00;
    
}

.item{
    margin: 10px;
}
.up{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 50px;
    display: none;
}